<div class="bg-gray-100 flex items-center justify-center min-h-screen">
  <div class="w-full max-w-sm bg-white p-8 rounded-lg shadow-lg">
    <!-- Logo -->
    <div class="text-center mb-6">
      <img src="../../../assets/images/logo.jpeg" alt="Logo" class="mx-auto" />
    </div>

    <h2 class="text-2xl font-bold mb-6 text-center">Sign in to your account</h2>

    <!-- Alerts -->
    <div id="alert-container" class="mb-4">
      <div *ngIf="errorMsg.length" class="bg-red-500 text-white p-4 rounded">
        <ul class="list-disc pl-5">
          <li *ngFor="let msg of errorMsg">{{ msg }}</li>
        </ul>
      </div>
    </div>

    <form id="login-form">
      <div class="mb-4">
        <label for="email" class="block text-sm font-medium text-gray-700"
          >Email</label
        >
        <input
          [(ngModel)]="authRequest.email"
          type="email"
          id="email"
          name="email"
          required
          class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
        />
      </div>

      <div class="mb-6">
        <label for="password" class="block text-sm font-medium text-gray-700"
          >Password</label
        >
        <input
          [(ngModel)]="authRequest.password"
          type="password"
          id="password"
          name="password"
          required
          class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
        />
      </div>

      <div class="flex justify-between items-center mb-4">
        <button
          (click)="login()"
          type="submit"
          class="w-full bg-indigo-600 text-white px-4 py-2 rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500"
        >
          Sign In
        </button>
      </div>

      <div class="text-center">
        <p class="text-sm text-gray-600">
          Don't have an account?
          <a (click)="register()" class="text-indigo-600 hover:underline"
            >Register</a
          >
        </p>
      </div>
    </form>
  </div>
</div>
