<div class="p-2">
  <h2>Manage my book</h2>
  <hr />
  <div *ngIf="errorMsg.length" class="alert alert-danger mt-2" role="alert">
    <p *ngFor="let msg of errorMsg" class="p-0 m-0">{{ msg }}</p>
  </div>
  <div class="d-flex gap-2">
    <div class="col-3">
      <img
        class="rounded-1"
        [src]="selectedPicture || 'https://picsum.photos/300'"
        alt="..."
        width="100%"
        height="100%"
      />
      <div class="mt-2">
        <input
          (change)="onFileSelected($event)"
          class="form-control"
          type="file"
          id="formFile"
          accept="image/*"
        />
      </div>
    </div>
    <div class="col-9">
      <form class="row g-3">
        <div class="col-12">
          <label for="title" class="form-label">Title</label>
          <input
            name="title"
            [(ngModel)]="bookRequest.title"
            type="text"
            class="form-control"
            id="title"
            placeholder="Title"
          />
        </div>
        <div class="col-6">
          <label for="author" class="form-label">Author</label>
          <input
            name="author"
            [(ngModel)]="bookRequest.authorName"
            type="text"
            class="form-control"
            id="author"
            placeholder="Author"
          />
        </div>
        <div class="col-6">
          <label for="isbn" class="form-label">ISBN</label>
          <input
            name="isbn"
            [(ngModel)]="bookRequest.isbn"
            type="text"
            class="form-control"
            id="isbn"
            placeholder="ISBN"
          />
        </div>
        <div class="col-12">
          <label for="synopsis" class="form-label">Synopsis</label>
          <textarea
            name="synopsis"
            [(ngModel)]="bookRequest.synopsis"
            class="form-control"
            id="synopsis"
            placeholder="Synopsis"
          ></textarea>
        </div>
        <div class="col-12">
          <div class="form-check">
            <input
              [(ngModel)]="bookRequest.shareable"
              class="form-check-input"
              type="checkbox"
              id="gridCheck"
              name="shareable"
            />
            <label class="form-check-label" for="gridCheck">
              &nbsp;Share me
            </label>
          </div>
        </div>
        <div class="d-flex justify-content-end gap-2 col-12">
          <button
            (click)="saveBook()"
            type="submit"
            class="btn btn-outline-primary"
          >
            <i class="fas fa-save"></i>&nbsp;Save
          </button>
          <a routerLink="/books/my-books" class="btn btn-link text-danger">
            <i class="fas fa-times"></i>&nbsp;Cancel
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
